<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>CV Gonzalo Acosta</title>
</head>
<body>
    <header>
        <img src="../img/fotocv3_r.jpg" alt="batman">
        <h1>C.V. DE GONZALO ACOSTA</h1>
    </header>
    <section class="buttons-section"><a href="../index.html"><button>HOME</button></a></section>
    <hr class="divisor">
    <main>
        <section>
            <h2 id="datos_per">SOBRE MI</h2>
            <ul>
                <li><span>
                    Estudiante de Desarrollo de Software en Digital House. Soy capaz de gestionar
                    bases de datos relacionales, diseñar y llevar a cabo proyectos web y trabajar en
                    equipo.
                </span></li>
                <br>
                <li><span>
                    La programación no es mi único interés en el mundo de la informática, además
                    cuento con formación en soporte y mantenimiento, sistemas operativos, redes y
                    diseño gráfico.
                </span></li>
            </ul>
        </section>
        <section>
        <h2 id="formacion">COMPETENCIAS</h2>
        <dl>
            <dt>JavaScript, HTML, CSS, PHP, MySQL.</dt>
        </dl>
        </section>
    </main>
    <footer>
        <p>MIS REDES:<a href="https://www.linkedin.com/in/pick/"><img width="28px" src="img/in.png" alt=""></a><a href="https://github.com/nastacosta"><img width="28px" src="img/git.png" alt=""></a><a href="https://www.instagram.com/go.acosta/"><img width="28px" src="img/ig.png" alt=""></a></p>
    </footer>
</body>
</html>